.bannerXt{
    margin-top: 50px;
 padding-left: 150px;
 padding-right: 150px;
}
.card-img-top {
    transition: 0.5s ease-in-out;
    display: block;
    object-fit: cover;
}
.card-img-top:hover {
    transform: scale(0.9);
}
.card {
    overflow: hidden;
}

.img-fluid{
    transition: 0.5s ease-in-out;
}
.img-fluid:hover{
    transform: scale(1.06);
}
.col-md-4 {
    overflow: hidden;
}
#logo2{
    border-radius: 50%;
}
#reddish {
    color: #cf2832;
    font-size: 20px;
    font-weight: bold;
}
.navbar-brand{
    mix-blend-mode: multiply;
}
.container-fluid{
    background-color: #fbb684;
    padding:0px;
}
.btn{
    background-color: #fbb684;
    color:#ffffff;
    font-weight:bolder;
    height:50px;
    font-size:130%;
    border-style:none;
    margin-top:15px;
}
.btn:before{
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:"";
    background-color:#fbb684;
    z-index:-1;
}
.btn:hover, .btn:focus{
    background-color:#198754;
}
.btn:hover:before, .btn:focus:before{
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
}
.btn:active{
    transform:scale(0,9);
}
.card{
    border-style:none;
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}
.card1{
    border:2px solid #fbb684;
    /*transition-duration:0.5s;*/
}
#reddish:hover{
    background-color:#198754;
    color:#ffffff;
    transition:0.5s linear;
    font-size:25px;
}
.navbar-light .navbar-nav .nav-link{
    position:relative;
    color:#ffffff;
    font-weight:bolder;
    font-size:20px;
}
.navbar-light .navbar-nav .nav-link::after{
    content:"";
    position:absolute;
    background:black;
    left:0;
    bottom:0;
    width:95%;
    height:4px;
    opacity:0;
    transition:0.3s ease-in;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    opacity:1;
    transform:translateY(8xp);
}
#navbarNav{
    height:230px;

}
/*.social-media{
    padding-top:120px;
}*/
#insta{
    height:60px;
}
.social-media-logo{
    height:40px;
    width:auto;
    mix-blend-mode:multiply;
}
#mt-5{
    font-size:28px;
    font-weight:bolder;
}

#contactus-d-flex{
    background-color:#fbb684;
}
.heading{
    text-align:center;
    height:300px;
    width:auto;
    padding-top:80px;
    background-color:#ffffff;
}
.contact-us{
    font-size:50px;
    font-weight:bold;
}
.statement{
    font-size:20px;
}
.title{
    font-size:35px;
}
.logo{
    mix-blend-mode:multiply;
    height:30px;
    width:auto;
    text-align:left;
    margin:15px;
}
.get-in-touch-content{
    display:flex;
    margin:30px;
    color:#ffffff;
    font-weight:bold;
}
.container{
    padding:0;
    padding-right:0;
    margin:0;
    height:700px;
    width:100%;
    display:flex;
    background-color:#fbb684;
}
.elements{
    height:600px;
    width:400px;
    margin:100px;
}

h4{
    font-weight:bolder;
    text-align:center;
}
h5{
    font-weight:bolder;
    color:black;
}
#send-a-message-outer-div{
    background-color:#ffffff;
    text-align:center;
    padding:50px;
    border-radius:10%;
    width:fit-content;
}
.send-a-message-content{
    text-align:left;
}
.contatcus-input{
    border:none;
    border-bottom:1px solid #ccc;
    text-align:left;
    columns:50px;
}
#message{
    height:8px;
}
.submit-button-div{
    padding-left:230px;
    box-shadow: #fd9246;
}
.submit-button{
    height:50px;
    width:150px;
    border-radius:10px;
    background-color:#fbb684;
    color:#ffffff;
    font-weight:bolder;
    font-size:20px;
    border:none;
}
.submit-button:hover{
    background-color:#198754;

}
.logo-address{
    text-decoration:none;
    color:#ffffff;
}