.bannerXt{
    margin-top: 50px;
 padding-left: 150px;
 padding-right: 150px;
}
.card-img-top {
    transition: 0.5s ease-in-out;
    display: block;
    object-fit: cover;
}
.card-img-top:hover {
    transform: scale(0.9);
}
.card {
    overflow: hidden;
}

.img-fluid{
    transition: 0.5s ease-in-out;
}
.img-fluid:hover{
    transform: scale(1.06);
}
.col-md-4 {
    overflow: hidden;
}
#logo2{
    border-radius: 50%;
}
#reddish {
    color: #cf2832;
    font-size: 20px;
    font-weight: bold;
}